<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->
    <table class="job-listing">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Employer</th>
            <th>Location</th>
            <th>Position Type</th>
            <th>Skill</th>
        </tr>
        <th:block th:each = "job : ${jobs}">
            <tr>
                <td th:text = "${job.id}">Job ID</td>
                <td th:text = "${job.name}">Name</td>
                <td th:text = "${job.employer}">Employer</td>
                <td th:text = "${job.location}">Location</td>
                <td th:text = "${job.positionType}">Position Type</td>
                <td th:text = "${job.coreCompetency}">Skill</td>
            </tr>
        </th:block>

    </table>

</div>

</body>
</html>